@page "/tasks"
@attribute [Authorize]

@using BlazorWeb.Interfaces;
@using BlazorWeb.Models.DataTransferModels;
@using BlazorWeb.Services;
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Reflection

<PageTitle>Teams page</PageTitle>

<div class="row">

	<div class="col-8 text-center">
		<h1>Tasks</h1>
	</div>

	<div class="col-4">
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<button class="btn btn-secondary" @onclick="Toggle">
				<span class="oi oi-grid-three-up"></span>
				<span>&nbsp;@ToggleCaption</span>
			</button>
			<button class="btn btn-success" @onclick="fetchData">
				<span class="oi oi-loop-circular" aria-hidden="true"></span>
				<span>&nbsp;Refresh</span>
			</button>
			<a class="btn btn-primary"
			   href="/tasks/add"
			   role="button">
				<span class="oi oi-plus" aria-hidden="true"></span>
				<span>&nbsp;Add task</span>
			</a>
		</div>
	</div>

</div>

@if (!_dataFetched)
{
	<div class="text-center">
		<img src="./images/loading-waiting.gif" />
	</div>
}
else
{
	@if (tasks.Count == 0)
	{
		<div class="text-center">
			<h4>
				Sorry, the list is empty
			</h4>
			<img src="./images/empty.gif" />
		</div>
	}
	else
	{
		if (_isTable)
		{
			<div class="table-responsive">
				<table class="table table-striped text-center table-hover">
					<thead class="table-light">
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Content</th>
							<th>Category</th>
							<th>Language</th>
							<th>Platform</th>
							<th>Timeframe</th>
							<th>Points</th>
							<th>Fine</th>
							<th>Has bonus</th>
							<th>Bonus content</th>
							<th>Bonus time</th>
							<th>Bonus points</th>
							<th>Created at</th>
							<th>Created by</th>
							<th>Updated at</th>
							<th>Updated by</th>
							<th>Status</th>
						</tr>
					</thead>

					<tbody>

						@foreach (var task in tasks)
						{
							<tr>
								<td>@task.Id</td>
								<td>
									<a href="tasks/@task.Id">
										@task.Name
									</a>
								</td>
								<td>@task.Content</td>
								<td>@task.CategoryId</td>
								<td>@task.LangId</td>
								<td>@task.PlatformId</td>
								<td>@task.Timeframe</td>
								<td>@task.Points</td>
								<td>@task.Fine</td>
								<td>@task.IfHasBonus.ToString()</td>
								<td>@task.BonusContent</td>
								<td>@task.BonusTimeframe</td>
								<td>@task.BonusPoints</td>
								<td>@task.CreateDate.ToString("G")</td>
								<td>@task.CreateUserId</td>
								<td>@task.UpdateDate.ToString("G")</td>
								<td>@task.UpdateUserId</td>
								<td>@((Status)task.StatusId)</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		}
		else
		{
			<div class="row row-cols-1 row-cols-md-3 g-4">
				@foreach (var task in tasks)
				{
					<div class="col">
						<div class="card text-start">

							<div class="card-header">
								<ul class="nav nav-tabs card-header-tabs" id="myTab">
									<li class="nav-item">
										<a href="#task(@task.Id)" class="nav-link active" data-bs-toggle="tab">
											<span class="oi oi-clipboard" aria-hidden="true"></span> Task
										</a>
									</li>

									<li class="nav-item">
										<a href="#bonus(@task.Id)" class="nav-link" data-bs-toggle="tab">
											<span class="oi oi-puzzle-piece" aria-hidden="true"></span> Bonus
										</a>
									</li>

									<li class="nav-item">
										<a href="#hints(@task.Id)" class="nav-link" data-bs-toggle="tab">
											<span class="oi oi-lightbulb" aria-hidden="true"></span> Hints
										</a>
									</li>

									<li class="nav-item">
										<a href="#info(@task.Id)" class="nav-link" data-bs-toggle="tab">
											<span class="oi oi-wrench" aria-hidden="true"></span> Info
										</a>
									</li>
								</ul>
							</div>

							<div class="card-body">
								<div class="tab-content">

									<div class="tab-pane fade show active" id="task(@task.Id)">
										<h5 class="card-title">@task.Name</h5>
										<p>
											Points: @task.Points
											<br />
											Time: @task.Timeframe
											<br />
											Fine if dropped: @task.Fine
										</p>
										<p class="card-text">@task.Content</p>

									</div>

									<div class="tab-pane fade" id="bonus(@task.Id)">
										<h5 class="card-title">Bonus task</h5>
										<p class="card-text">Here is some example text to make up the tab's content. Replace it with your own text anytime.</p>
									</div>

									<div class="tab-pane fade" id="hints(@task.Id)">
										<h5 class="card-title">Messages tab content</h5>
										<p class="card-text">Here is some example text to make up the tab's content. Replace it with your own text anytime.</p>
									</div>

									<div class="tab-pane fade" id="info(@task.Id)">
										<h5 class="card-title">Messages tab content</h5>
										<p class="card-text">
											Created at @task.CreateDate.ToString("G")
											<br />
											Created by @task.CreateUserId
											<br />
											Updated at @task.UpdateDate
											<br />
											Updated by @task.UpdateUserId
											<br />
											Status: @((Status)task.StatusId)
										</p>
									</div>
								</div>
							</div>

							<div class="card-footer">
								<small class="text-muted">Last updated 3 mins ago</small>
							</div>

						</div>
					</div>
				}
			</div>
		}
	}
}


@code {

	private bool _dataFetched;
	private bool _isTable;
	private string ToggleCaption => _isTable ? "Card view" : "Table view";


	private void Toggle()
	{
		_isTable = !_isTable;
	}


	ExerciseDT singleTask = new();
	List<ExerciseDT> tasks = new()
	{
		new()
			{
				Id = 0,
				Name = "Total Text Replacer",
				Content = @"Write a small program that gets a root folder, two strings, and a list of extensions like this: (25 points, any language, 1 Hour)
a.If you choose C#: https://learn.microsoft.com/en-us/training/modules/dotnet-files/
b.ContenRename.exe c:\dev “from” “to” .cs.csproj.sln
	c.The program reads the content of each file in the root directory and all sub-
	directories that has one of the requested extensions
	d.It replaces the & quot; from & quot; with the &quot; to & quot; of all occurrences
	e.If a file has changed, it creates a.bak file with the original content and saves the
	changed file",
				CategoryId = 1,
				LangId = 1,
				PlatformId = 1,
				Timeframe = new TimeSpan(1, 30, 0),
				Points = 42,
				Fine = 0,
				IfHasBonus = true,
				BonusContent = @"It replaces the & quot; from & quot; with the &quot; to & quot; of all occurrences
		e.If a file has changed, it creates a.bak file with the original content and saves the changed file",
				BonusTimeframe = new TimeSpan(0, 30, 0),
				BonusPoints = 18,

				CreateDate = DateTime.Now,
				CreateUserId = 1,
				UpdateDate = DateTime.Now,
				UpdateUserId = 1,
				StatusId = (int)Status.Active
			},
					new()
			{
				Id = 0,
				Name = "Total Text Replacer",
				Content = @"Write a small program that gets a root folder, two strings, and a list of extensions like this: (25 points, any language, 1 Hour)
a.If you choose C#: https://learn.microsoft.com/en-us/training/modules/dotnet-files/
b.ContenRename.exe c:\dev “from” “to” .cs.csproj.sln
	c.The program reads the content of each file in the root directory and all sub-
	directories that has one of the requested extensions
	d.It replaces the & quot; from & quot; with the &quot; to & quot; of all occurrences
	e.If a file has changed, it creates a.bak file with the original content and saves the
	changed file",
				CategoryId = 1,
				LangId = 1,
				PlatformId = 1,
				Timeframe = new TimeSpan(1, 30, 0),
				Points = 42,
				Fine = 0,
				IfHasBonus = true,
				BonusContent = @"It replaces the & quot; from & quot; with the &quot; to & quot; of all occurrences
		e.If a file has changed, it creates a.bak file with the original content and saves the changed file",
				BonusTimeframe = new TimeSpan(0, 30, 0),
				BonusPoints = 18,

				CreateDate = DateTime.Now,
				CreateUserId = 1,
				UpdateDate = DateTime.Now,
				UpdateUserId = 1,
				StatusId = (int)Status.Active
			},
					new()
			{
				Id = 0,
				Name = "Total Text Replacer",
				Content = @"Write a small program that gets a root folder, two strings, and a list of extensions like this: (25 points, any language, 1 Hour)
a.If you choose C#: https://learn.microsoft.com/en-us/training/modules/dotnet-files/
b.ContenRename.exe c:\dev “from” “to” .cs.csproj.sln
	c.The program reads the content of each file in the root directory and all sub-
	directories that has one of the requested extensions
	d.It replaces the & quot; from & quot; with the &quot; to & quot; of all occurrences
	e.If a file has changed, it creates a.bak file with the original content and saves the
	changed file",
				CategoryId = 1,
				LangId = 1,
				PlatformId = 1,
				Timeframe = new TimeSpan(1, 30, 0),
				Points = 42,
				Fine = 0,
				IfHasBonus = true,
				BonusContent = @"It replaces the & quot; from & quot; with the &quot; to & quot; of all occurrences
		e.If a file has changed, it creates a.bak file with the original content and saves the changed file",
				BonusTimeframe = new TimeSpan(0, 30, 0),
				BonusPoints = 18,

				CreateDate = DateTime.Now,
				CreateUserId = 1,
				UpdateDate = DateTime.Now,
				UpdateUserId = 1,
				StatusId = (int)Status.Active
			},
					new()
			{
				Id = 0,
				Name = "Total Text Replacer",
				Content = @"Write a small program that gets a root folder, two strings, and a list of extensions like this: (25 points, any language, 1 Hour)
a.If you choose C#: https://learn.microsoft.com/en-us/training/modules/dotnet-files/
b.ContenRename.exe c:\dev “from” “to” .cs.csproj.sln
	c.The program reads the content of each file in the root directory and all sub-
	directories that has one of the requested extensions
	d.It replaces the & quot; from & quot; with the &quot; to & quot; of all occurrences
	e.If a file has changed, it creates a.bak file with the original content and saves the
	changed file",
				CategoryId = 1,
				LangId = 1,
				PlatformId = 1,
				Timeframe = new TimeSpan(1, 30, 0),
				Points = 42,
				Fine = 0,
				IfHasBonus = true,
				BonusContent = @"It replaces the & quot; from & quot; with the &quot; to & quot; of all occurrences
		e.If a file has changed, it creates a.bak file with the original content and saves the changed file",
				BonusTimeframe = new TimeSpan(0, 30, 0),
				BonusPoints = 18,

				CreateDate = DateTime.Now,
				CreateUserId = 1,
				UpdateDate = DateTime.Now,
				UpdateUserId = 1,
				StatusId = (int)Status.Active
			}

	};


	////[Parameter]
	////public string Message { get; set; }
	//string messageFromServer = String.Empty;


	protected override async Task OnInitializedAsync()
	{
		//TODO: make false in prod
		_dataFetched = true;
		_isTable = false;

		//await fetchData();

		//just for testing
	}

	public async Task fetchData()
	{
		Console.WriteLine("Fetching data...");

		_dataFetched = true;
		//users = await CompetitionService.GetAllCompetitionsAsync();
	}
}