@page "/fetchdata"
@using BlazorWeb.Models.DataTransferModels;
@using Microsoft.AspNetCore.SignalR.Client;
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>


@if (flag == false)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in users)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.CompetitionName</td>
                    <td>@forecast.Duration.ToString()</td>
                    <td>@forecast.StartTime.ToString()</td>
                    <td>@forecast.EndTime.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string Message { get; set; }
    string message;
    List<CompetitionDT> users;
    bool flag = false;




    protected override async Task OnInitializedAsync()
    {
        await fetchData();
    }

	public async Task fetchData()
	{

		HubConnection connection = new HubConnectionBuilder()
				.WithUrl("https://localhost:7206/competitions")
				.WithAutomaticReconnect()
				.Build();

        connection.On<List<CompetitionDT>>("Send", msg =>
		{
			users = msg;
			flag = true;
		});
		await connection.StartAsync();

        await connection.InvokeAsync("SendCompetitions");

	}
}
